html 
{
    height: 100%;
}

body
{
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px;
    background-attachment: fixed;
    
}
nav
{
    background-color: black;
    color: blanchedalmond;
}

h1
{
    text-align: center;
}

.content
{
    margin: 20px;
    padding: 15px;
    border-radius: 25px;
    text-align: left;
    
}
.places
{
    margin: 0px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.329);
    border-radius: 25px;
    text-align: center;
    color: white;

}

.destination
{
    margin-top: 10px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.329);
    border-radius: 25px;
    color: white;
    
}
img
{
   height: 200px; 
   width: 300px;
}
.main
{
    display: flex;
    flex-direction: row;
}
.pic
{
    margin-right: 10px;
}

.footer
{
    
    left: 0;
    bottom: 0;
    margin-bottom: 0px;
    color:maroon;
    margin-left: 10px;
    font-style: italic;
    

}
.top
{
    color: white;
    margin: 8px;
}

.final
{
    left: 0;
    bottom: 0;
    margin-bottom: 0px;
    color:maroon;
    margin-left: 10px;
    font-style: italic;
    position: fixed;
}